.header-wrap {
    width: 100%;
    background-color: var(--primary_color);
    color: var(--text_color);
    padding: 10px 0px;
    font-size: 28px;
    font-weight: 600;
}

.right-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.strail-btn {
    border: none;
    background-color: var(--accent_color);
    color: var(--text_color);
    height: 32px;
    padding: 0px 16px;
    font-size: 12px;
    font-weight: 500;
    margin-left: 16px;
}

.header-wrap h6 {
    margin: 0px;
}

.content-header-wrap {
    background-color: var(--accent_color);
    color: var(--text_color);
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 28px;
    font-weight: 600;
    box-shadow: 0px 0px 4px #888888;
}

.content-header-wrap h4 {
    margin: 0;
}

.home-link, .home-link:hover {
    color: var(--text_color);
    text-decoration: none;
}

@media screen and (max-width: 628) {
    .right-section {
        justify-content: center;
    }
    .left-section {
        display: flex;
        justify-content: center;
    }
}